body.dark-theme .main-heading h2 {
	color: #dedadc;
}

body.dark-theme .main-heading h2::before {
	background: #dedadc;
}

body.dark-theme .main-heading h2::after {
	border: 2px solid #dedadc;
}

body.dark-theme .main-heading p {
	color: #19c8fa;
}

body.dark-theme .header {
	color: #ccc;
}

body.dark-theme .header nav .toogle-menu + ul.subMenu {
	background-color: #fefcfc;
}

body.dark-theme .landing {
	background-color: #fcfcfc;
}

body.dark-theme .services .srv-box i {
	color: #dedadc;
}

body.dark-theme .services .srv-box p {
	color: #19c8fa;
}

body.dark-theme .our-skill .container > div > p {
	color: #19c8fa;
}

body.dark-theme
.our-skill .container .testimonials .content .text {
	color: #19c8fa;
	border-bottom: 1px solid #19c8fa;
}

body.dark-theme .our-skill .testimonials .bx-wrapper .bx-pager.bx-default-pager a {
	border-color: #dedadc;
}

body.dark-theme .pricing .plans .plan {
	color: #19c8fa;
}

body.dark-theme .pricing .plans .plan .head span::before {
	color: #19c8fa;
}

body.dark-theme .pricing .plans .plan .head span::after {
	color: #19c8fa;
}

body.dark-theme .pricing .plans .plan .foot a {
	color: #19c8fa;
}

body.dark-theme .pricing .price-contact p {
	color: #19c8fa;
}

body.dark-theme .contact .content form .remember-section .remember-me, body.dark-theme .contact .content form .remember-section .forgot-password a {
	color: #19c8fa;
}

body.dark-theme
.contact .content .info {
	color: #19c8fa;
}

body.dark-theme
.contact .content .info h4 {
	color: #19c8fa;
}

body.dark-theme .contact .content .info span {
	color: #19c8fa;
}




.dark-theme .subscribe form i {
  color: #ccc;
}

.dark-theme .subscribe form input[type="email"] {
  caret-color: var(--main-color);
  background: #222;
  border: 1px solid #444;
  color: #eee;
}

.dark-theme .subscribe form input[type="email"]::placeholder {
  color: #aaa;
}

.dark-theme .subscribe form input[type="submit"] {
  background-color: var(--main-color);
  border: 1px solid #444;
  border-left: none;
  color: white;
}

.dark-theme .subscribe p {
  color: #ccc;
}

.dark-theme .contact {
  background-color: #121212;
  color: #ccc;
}


.dark-theme .contact .content form .main-input,
.dark-theme .contact .content form .remember-section {
  background-color: #1e1e1e;
  border: 1px solid #444;
  color: #eee;
}


.dark-theme .contact .content form .remember-section .remember-me,
.dark-theme .contact .content form .remember-section .forgot-password a {
  color: #bbb;
}


.dark-theme .contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
}

.dark-theme .contact .content .info {
  color: #bbb;
}
