body.transition {
        transition: background-color 0.5s ease, color 0.5s ease, all 0.5s ease;
}

body.transition * {
    transition: background-color 0.5s ease, color 0.5s ease, all 0.5s ease;
}

.wrapper-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}
.animate-bounce{
    animation:bounce 1s infinite;
}

.animate-bounce:hover {
    -webkit-animation: rotate-diagonal-1 0.4s linear both;
    animation: rotate-diagonal-1 0.4s linear both;
}
