body.transition {
        transition: background-color 0.5s ease, color 0.5s ease, all 0.5s ease;
}

body.transition * {
    transition: background-color 0.5s ease, color 0.5s ease, all 0.5s ease;
}

.wrapper-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}
.animate-bounce{
    animation:bounce 1s infinite;
}

.animate-bounce:hover {
    -webkit-animation: rotate-diagonal-1 0.4s linear both;
    animation: rotate-diagonal-1 0.4s linear both;
}

.navbar{
    padding-top: 1.5em;
    padding-block: 1.5em;
}

#dark_theme_icon ,
#light_theme_icon {
    border: none;
    width: 40px;
    height: 30px;
}
#dark_theme_icon i ,
#light_theme_icon i{
    font-size: 20px;
    cursor: pointer;
}
#dark_theme_icon i{
    color: var(--dark-theme_icon_color);
}
#light_theme_icon i{
    color: var(--light-theme_icon_color);
}
.show_item{
    display: block;
}
.hide_item{
    display: none;
}

